.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;    
    padding-left: 8px;
    padding-right: 8px;
}

#main-footer {
    display: flex;  
    background-color: white;
    justify-content: space-around;
    margin-top: 50px;
    flex-direction: row;
}

.logo-cty-bottom {
    width: 150px;
}

.social-list{
    font-size: 24px;

}
.social-list a{
    color: rgba(0,0,0,0.6);
     text-decoration: none;

}
.social-list a:hover{
    color: rgba(0,0,0,0.4);

}

